$larger-header-height: 160px;

.site-header {
  min-height: $larger-header-height;

  @include mq(md) {
    height: $larger-header-height;
    max-height: $larger-header-height;
  }
}

.site-title:hover {
    background-image: none;
}

.site-subtitle {
    display: flex;
    height: 100%;
    padding: 1rem;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.main-header {
    display: flex;
}
